<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Marko Uremović">
    <meta name="keywords" content="temperature, table, city, Zagreb, date">
    <meta name="description" content="Prikaz podataka iz baze podataka preko json i csv oblika te u tablici">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/userInfo.css">
    <script src="/scripts/jquery.js"></script>
    <title>Temperatura</title>
</head>

<body>
    <nav class="navigation">
        <nav class="first">
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/datatable">Data</a>
        </nav>
        <nav class="second">
            <a class="button" onclick="getData()">
                Korisnicki profil
            </a>
            <a class="button" onclick="updateFiles()">
                Osvjezi preslike
            </a>
            <a class="button" href="/logout">
                Odjava
            </a>
        </nav>

    </nav>

    <main>
        <div class="glass">
            <p class="data">Autor podataka: Marko Uremović</p>
            <p class="data">Otovrena licenca: Creative commons (CC BY)
            <p class="data">Verzija: version 1.0</p>
            <p class="data">Jezik podataka: engleski</p>
            <p class="data">Atributi u skupu podataka:
            <ul>
                <li class="list-element">city</li>
                <li class="list-element">country</li>
                <li class="list-element">creator</li>
                <li class="list-element">keywords</li>
                <li class="list-element">date</li>
                <li class="list-element">time</li>
                <li class="list-element">dateandtimeformat</li>
                <li class="list-element">language</li>
                <li class="list-element">timezone</li>
                <li class="list-element">metrics (temperature)</li>
            </ul>
            </p>
        </div>
        <div class="glass">
            <div class="download">
                <h1>Download</h1>
                <hr>
            </div>
            <a class="data-format" href="/dataFormats/jsonData.json" download="json">JSON</a>
            <a class="data-format" href="/dataFormats/csvData.csv" downlaod="csv">CSV</a>
        </div>

        <div class="userInfo">
            <div class="username" id="username">Username: </div>
            <div class="userData" id="userData">
            </div>
        </div>
    </main>



</body>
<script>
    var getData = async function () {
        if ($('.userInfo').css('display') == 'none') {
            $('.userInfo').show();
            $('.glass').hide();
            const response = await fetch('http://localhost:3000/profile', {
                method: 'GET'
            });

            //console.log(response)
            const data = await response.json();
            const realData = data.data;

            var userData = document.getElementById('userData');
            var username = document.getElementById('username');

            //console.log(realData)

            for (var d in realData) {
                if (d === "picture") {
                    var information = document.createElement("img");  // Create with DOM
                    information.src = realData[d];
                    information.classList.add("information");
                    userData.append(information)
                } else if (d === "nickname") {
                    var nickname = document.createElement("span");  // Create with DOM
                    nickname.innerHTML = realData[d];
                    username.append(nickname)
                } else {
                    var information = document.createElement("p");  // Create with DOM
                    information.innerHTML = realData[d];
                    information.classList.add("information");
                    userData.append(information)
                }



            }
        } else {
            $('.userInfo').hide();
            $('.glass').show();
            $('.username').text('Username: ')
            $('.userData').empty();
        }


    }

    var updateFiles = async function () {
        const response = await fetch('http://localhost:3000/home/updateData', {
            method: 'PUT'
        });

        const success = await response.json();
        console.log(success)
        if (success.success) {
            alert('Files updated');
        } else {
            alert('There was an error');
        }
    }
</script>

</html>